Task:
1. to make ABC analysis (A<=20%, 20<B<=80% , C<80%);
2. to display the category of the client by his number.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_excel('ABC - аналіз.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Клієнт   252 non-null    object
 1   Продажі  252 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.1+ KB

In [2]:
df.head(2)

      Клієнт    Продажі
0   Клієнт 1  9167.3300
1  Клієнт 10   541.9225

In [3]:
# Cutting first column to get just a number of the client
def new(old):
    new = old.split()[1]
    return new

df['Клієнт'] = df['Клієнт'].map(new)
df.head(2)

  Клієнт    Продажі
0      1  9167.3300
1     10   541.9225

In [4]:
# Sorting
df.sort_values('Продажі', inplace=True, ascending = False)
df.head(2)

    Клієнт    Продажі
0        1  9167.3300
111      2  4784.7775

In [5]:
# Dropping first client
df.drop(0, axis = 0, inplace = True)
df.head(2)

    Клієнт    Продажі
111      2  4784.7775
175      3  3521.7775

In [6]:
# Counting general sales
general_sales = df['Продажі'].sum()
general_sales

35185.56083333333

In [7]:
# Counting accumulated amount
df['Накопичена_сума'] = df['Продажі'].cumsum()
df.head()

    Клієнт      Продажі  Накопичена_сума
111      2  4784.777500      4784.777500
175      3  3521.777500      8306.555000
186      4  1143.916667      9450.471667
197      5  1107.697500     10558.169167
208      6   902.543333     11460.712500

In [8]:
# Defining % of accumulated amount to general sales
df['Відсоток'] = df['Накопичена_сума']/general_sales*100
df.head()

    Клієнт      Продажі  Накопичена_сума   Відсоток
111      2  4784.777500      4784.777500  13.598696
175      3  3521.777500      8306.555000  23.607852
186      4  1143.916667      9450.471667  26.858949
197      5  1107.697500     10558.169167  30.007108
208      6   902.543333     11460.712500  32.572204

In [9]:
# Making categories
def group(perc):
    if perc <= 20:
        return 'A'
    elif perc > 20 and perc <=80:
        return 'B'
    else:
        return 'C'

df['ABC_категорія'] = df['Відсоток'].map(group)
df.head()

    Клієнт      Продажі  Накопичена_сума   Відсоток ABC_категорія
111      2  4784.777500      4784.777500  13.598696             A
175      3  3521.777500      8306.555000  23.607852             B
186      4  1143.916667      9450.471667  26.858949             B
197      5  1107.697500     10558.169167  30.007108             B
208      6   902.543333     11460.712500  32.572204             B

In [10]:
from flask import Flask
app = Flask(__name__)

@app.route('/<string>')
def model(string):
    print(string)
    result = df[df['Клієнт'] == str(string)].loc[:, 'ABC_категорія'].values[0]
    print(f'Клієнт належить до групи {result}')
    return f'Клієнт належить до групи {result}'

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Mar/2021 01:15:44] "GET / HTTP/1.1" 404 -
[2021-03-09 01:15:44,553] ERROR in app: Exception on /favicon.ico [GET]
Traceback (most recent call last):
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-10-3bed24a1c22f>", line 11, in model
    result = df[df['Клієнт'] == str(string)].loc[:, 'ABC_категорія'].values[0]
IndexError: index 0 is out of bounds for axis 0 with size 0
127.0.0.1 - - [09/Mar/2021 01:15:44] "GET /favicon.ico HTTP/1.1" 500 -

favicon.ico

127.0.0.1 - - [09/Mar/2021 01:15:50] "GET /3 HTTP/1.1" 200 -
[2021-03-09 01:15:50,772] ERROR in app: Exception on /favicon.ico [GET]
Traceback (most recent call last):
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Tom\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-10-3bed24a1c22f>", line 11, in model
    result = df[df['Клієнт'] == str(string)].loc[:, 'ABC_категорія'].values[0]
IndexError: index 0 is out of bounds for axis 0 with size 0
127.0.0.1 - - [09/Mar/2021 01:15:50] "GET /favicon.ico HTTP/1.1" 500 -

3
Клієнт належить до групи B
favicon.ico